
.overlayContents{
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  height:auto;
  background-color:#5F5F5F;
}
.dx-theme-ios .overlayContents{
  border-color:#43628D;
  background-color:#F7F7F7;
}
.dx-theme-android .overlayContents{
  border-color:#FFFFFF;
  background-color:#5F5F5F;
}
.dx-theme-win8 .overlayContents{
  border-color: #E4E4E4;
  background-color:#333333;
}


.order-comment {
    font-size: 12px;
}
.orderDetails-productName {
    width: 78%;
    float: left; 
}
.orderDetails-quantity {
    display: inline-block;
    width: 10%;
    text-align: right;
}
.orderDetails-sum {
    display: inline;
    width:10%;
    float: right; 

}

.calculator-raw {
    width: 100%;
    overflow: hidden;
    display: block;
    padding-top: 5px
}

.calculator-cell {
    width:33.333%;
    float: left;
}


.display {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	box-shadow: inset 0 1px 1px #0A0B0D, 0px 1px #5E6370;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background-color: #17181E;
	border: 1px solid #181A20;
	padding: 0 10px;
	text-align: right;
}

.display-inner {

    overflow: hidden;
}
.display-text {
	color: #fff;
	font-size: 22px;
	line-height: 42px;
	overflow: hidden;
	unicode-bidi: embed;

    float: right;
}
